<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logging\nlog-INTERNAL.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web" />
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Extensions.Logging" />
		<add assembly="NLog.Targets.Seq" />
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target xsi:type="File" 
				name="ServiceSimplified_File" 
				fileName="logging\ServiceLog_Simplified-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!-- Uses Microsoft Console Target to write detailed ASP.NET Logs to a file -->
		<target xsi:type="File" 
				name="Service_File" 
				fileName="logging\ServiceLog-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" 
				name="Service_Console" 
				layout="${MicrosoftConsoleLayout}" />
	
		<!-- Namespace Logg Files -->
	
		<!-- System.Net.Http -->
		<target xsi:type="File" 
				name="Networking_File" 
				fileName="logging\NetworkLog-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!-- JWTSecurityToken -->
		<target xsi:type="File" 
				name="JwtAuthentication_File" 
				fileName="logging\AuthenticationLog-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!-- Api (Controller/Endpoints) -->
		<target xsi:type="File" 
				name="Api_File" 
				fileName="logging\ApiLog-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!-- Autorun -->
		<target xsi:type="File" 
				name="Autorun_File" 
				fileName="logging\AutorunLog-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!-- Configuration -->
		<target xsi:type="File" 
				name="Configuration_File" 
				fileName="logging\ConfigurationLog-${shortdate}.txt" 
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!-- Database -->
		<target xsi:type="File" 
				name="Database_File" 
				fileName="logging\DatabaseLog-${shortdate}.txt" 
				maxArchiveFiles="7" 
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	
			<!-- Exception -->
		<target xsi:type="File" 
				name="Exception_File" 
				fileName="logging\ErrorLog-${shortdate}.txt" 
				maxArchiveFiles="7" 
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="Nd5F7zCVcdGfd9dYyrCh">
			<property name="ThreadId" value="${threadid}" as="number" />
			<property name="MachineName" value="${machinename}" />
		</target>
		
	</targets>
		
	<rules>
		<!-- All logs -->
		<logger name="*" minlevel="Trace" writeTo="Service_File, Service_Console, seq" />
		<!-- Error type logs -->
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="Exception_File" final="True" />
		
		<!--Namespace specific logs -->
		<logger name="Stressless_Service.Logic" minlevel="Trace" writeTo="Networking_File" final="True" />
		<logger name="System.Net.Http.*" minlevel="Trace" writeTo="Networking_File" final="true" />
		<logger name="Microsoft.AspNetCore.Server.Kestrel.*" writeTo="Networking_File" final="true" />
		<logger name="Stressless_Service.JwtSecurityTokens" minlevel="Trace" writeTo="JwtAuthentication_File" final="true" />
		<logger name="Stressless_Service.Controllers" minlevel="Trace" writeTo="Api_File" final="true" />
		<logger name="Stressless_Service.Autorun" minlevel="Trace" writeTo="Autorun_File" final="true" />
		<logger name="Stressless_Service.Configuration" minlevel="Trace" writeTo="Configuration_File" final="true" />
		<logger name="Stressless_Service.Database" minlevel="Trace" writeTo="Database_File" final="True" />
		<logger name="System.Private.CoreLib" minlevel="Trace" writeTo="Service_Console, Service_File" final="True" />
		<logger name="System.Net.Sockets" minlevel="Trace" writeTo="Service_Console, Service_File" final="True" />
		<logger name="System.Data.SQLite" minlevel="Trace" writeTo="Service_Console, Service_File" final="True" />
		
	</rules>
</nlog>